<!--
  Generated template for the FoodPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-slides #slides pager loop="true" autoplay="1000" *ngIf="len >=1">
    <ion-slide *ngFor="let foodImg of pictureArr">
      <div class="flex-container">
        <div class="flex-item" *ngFor="let food of foodImg.img">
          <img class="foodImg" src="{{food.image_url}}">
        </div>
      </div>
    </ion-slide>
  </ion-slides>


  <ion-list>
    <ion-item *ngFor="let restaurantsList of restaurantsLists">
      <ion-thumbnail item-start>
        {{restaurantsList.id}}
        <img class="shop_img" src="{{restaurantsList.image_path}}">

      </ion-thumbnail>
      <h2 (click)="showAlert(restaurantsList.category)">{{restaurantsList.category}}</h2>
      <p>{{restaurantsList.address}}</p>
      <button ion-button clear item-end>{{restaurantsList.piecewise_agent_fee.tips}}</button>
    </ion-item>
  </ion-list>
</ion-content>
