page-food {
  ion-content{
    ion-slides{
      height: 40% !important;
    }
    .flex-container {
        display: -webkit-flex;
        display: flex;
        width: 100%;
        flex-direction:row;
        flex-wrap:wrap;
      .flex-item {
        width: 25%;
      }
    }




  }
}
