page-contact {
  .flex-container {
      display: -webkit-flex;
      display: flex;
      width: 100%;
      flex-direction:row;
      flex-wrap:wrap;
    .flex-item {
      width: 25%;
      height: 40px;
      line-height: 20px;
    }
  }
}
