<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
    <div>
      <span (click)="toLoginPage()">登录</span>
      <span (click)="toRegisterPage()">注册</span>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="flex-container">
    <div class="flex-item" *ngFor="let hot of hotCitys" (click)="toDetail(hot)">
     {{hot.name}}
    </div>
  </div>

    <div *ngFor="let citys of finCity">
      <div class="letter">{{citys.sort}}</div>
      <div class="flex-container">
         <div class="flex-item" *ngFor="let cityName of citys.cityContents">{{cityName.name}}</div>
      </div>
    </div>
</ion-content>
