page-citydetail {
  ion-content{
    .first {
      background: cornflowerblue;
    }
    .second {
      color: green;
    }
    .third {
      font-size: 22px;
    }
    .addressSpan{
      font-size: 12px;
      color: red;
    }
    .latColor{
      color: purple;
    }
    .latColortwo{
      color: #2ec95c;
    }
  }
  body,#mapContainer{
    margin:0;
    height:0px;
    width:100%;
    font-size:12px;
  }
}
